<div id="chat" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-sidenav-container>

                <!-- LEFT SIDENAV -->
                <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                             elisaMatSidenavHelper="chat-left-sidenav" mat-is-locked-open="gt-md">
                    <elisa-chat-left-sidenav></elisa-chat-left-sidenav>
                </mat-sidenav>
                <!-- / LEFT SIDENAV -->

                <!-- CONTENT -->
                <elisa-chat-start *ngIf="!selectedChat"></elisa-chat-start>

                <elisa-chat-view *ngIf="selectedChat"></elisa-chat-view>
                <!-- / CONTENT -->

                <!-- RIGHT SIDENAV -->
                <mat-sidenav class="sidenav" align="end" opened="false" mode="over"
                             elisaMatSidenavHelper="chat-right-sidenav">
                    <elisa-chat-right-sidenav></elisa-chat-right-sidenav>
                </mat-sidenav>
                <!-- / RIGHT SIDENAV -->

            </mat-sidenav-container>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
